# Node dependencies
/node_modules

# Laravel specific files
/public/hot
/public/storage
/storage/*.key
/vendor

# Environment & config files
.env
.env.example
.phpunit.result.cache
Homestead.json
Homestead.yaml

# Logs & debug files
npm-debug.log
yarn-error.log

# IDE/editor files
.idea/
.vscode/
*.swp
*.swo

# Docker-related files (optional, if you're using Docker Compose)
docker-compose.yml
Dockerfile
